* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}
header {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 0;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}
header nav ul a {
  text-decoration: none;
  color: aliceblue;
}
header nav ul a:focus {
  color: rgb(38, 77, 111);
}
